services:
  database:
    image: mysql:8.0
    container_name: mysql-container
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
    ports:
      - 3306:3306

  backend:
    build: ./backEnd
    container_name: backend
    env_file:
      - ./backEnd/.env
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network


  upload-service:
    build: ./upload-service
    container_name: upload-service
    environment:
      NODE_ENV: production
      PORT: 3001
      UPLOAD_DIR: /app/uploads
      PUBLIC_BASE_URL: http://localhost:3000
    volumes:
      - ./uploads:/app/uploads
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    restart: always
    container_name: nginx
    depends_on:
      - backend
      - upload-service
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:8080"
    networks: [app-network]


volumes:
  db_data:

networks:
  app-network:
    driver: bridge